/archetype/paper_gradle/1.13-/.settings
/archetype/paper_gradle/1.13-/.settings
/archetype/paper_gradle/1.13-/build
/archetype/paper_gradle/1.13-/.project
/archetype/paper_gradle/v1_13_plus/.gradle
/archetype/paper_gradle/v1_13_plus/.settings
/archetype/paper_gradle/v1_13_plus/.classpath
/archetype/paper_gradle/v1_13_plus/.project

/CLAUDE.md
/CLAUDE.md
/.gradle
/archetype/fabric_gradle/.gradle
/archetype/fabric_gradle/.project
/archetype/fabric_gradle/.settings
/test/*
!/test/test_refactor.lua
!/test/build_matrix.lua
!/test/integration_build_matrix.lua
/archetype/fabric_gradle/build
/sess.vim
/archetype/forge_gradle/.gradle
/archetype/forge_gradle/.project
/archetype/forge_gradle/.settings
/archetype/neoforge_gradle/.gradle
/archetype/neoforge_gradle/.project
/archetype/neoforge_gradle/.settings
/archetype/neoforge_gradle/build
/archetype/paper_gradle/1.13-/.classpath
/archetype/paper_gradle/1.13-/.gradle
/archetype/paper_gradle/kotlin/1.13-/.gradle
/archetype/paper_gradle/kotlin/1.13-/.project
/archetype/paper_gradle/kotlin/1.13-/.settings
/archetype/paper_gradle/kotlin/1.13-/build
/archetype/paper_gradle/kotlin/v1_13_plus/.gradle
/archetype/paper_gradle/kotlin/v1_13_plus/.project
/archetype/paper_gradle/kotlin/v1_13_plus/.settings
/.codegraph
