/archetype/paper_gradle/1.13-/.settings
/archetype/paper_gradle/1.13-/.settings
/archetype/paper_gradle/1.13-/build
/archetype/paper_gradle/1.13-/.project
/archetype/paper_gradle/v1_13_plus/.gradle
/archetype/paper_gradle/v1_13_plus/.settings
/archetype/paper_gradle/v1_13_plus/.classpath
/archetype/paper_gradle/v1_13_plus/.project

/CLAUDE.md
/CLAUDE.md
/.gradle
/archetype/fabric_gradle/.gradle
/archetype/fabric_gradle/.project
/archetype/fabric_gradle/.settings
/test
/archetype/fabric_gradle/build
/sess.vim
